.heading{
    text-align: left;
    width: 100%;
}

.heading h3{
    display: inline;
}

.heading button{
border: 1px solid white;
float: right;
}

#start,#status{
    font-size: 22px;
}

.big_image{
    width: 100%;
}