.heading{
    text-align: left;
    width: 100%;
}

.heading h3{
    display: inline;
}

.heading button{
border: 1px solid white;
float: right;
}

#start,#status{
    font-size: 22px;
}

.big_image{
    width: 100%;
}

.instruction-image{
    width: 35%;
    display: inline-block;
}

h4{
    background-color: rgb(123, 129, 106);
    line-height: 0;
}

video {
    background : url('game_console.png');
    background-position: center;
    background-size: cover ;
    padding: 25px;
}